<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_mvc1:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_mvc1_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_mvc1" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="lib" />
          <element id="library" level="project" name="lib1" />
          <element id="library" level="project" name="Maven: com.google.code.gson:gson:2.8.5" />
          <element id="library" level="project" name="Maven: com.alibaba:fastjson:1.2.47" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring_mvc1/web/Web" />
    </root>
  </artifact>
</component>